<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.risatoyoshima.mynihongo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListCardsets" />
        <activity
            android:name=".Cardset1"
            android:label="@string/title_activity_cardset1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Cardset2"
            android:label="@string/title_activity_cardset2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Cardset3"
            android:label="@string/title_activity_cardset3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".card3_1" />
        <activity android:name=".card3_0"></activity>
    </application>

</manifest>